# Importing basics libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import os

# Preparing the DATA from drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!unzip '/content/drive/MyDrive/projet/NY_crimes.zip' -d '/content/data'

Archive:  /content/drive/MyDrive/projet/NY_crimes.zip
 extracting: /content/data/Citywide_Crime_Stats_Data_Dictionary.xlsx
 extracting: /content/data/Crime_Enforcement_Activity_Data_Dictionary.xlsx
 extracting: /content/data/NYCHA PSA (Police Service Areas).geojson
 extracting: /content/data/NYPD Sectors.geojson
 extracting: /content/data/NYPD_Complaint_Data_Historic.csv
 extracting: /content/data/NYPD_Complaint_Data_Historic_2019.csv
 extracting: /content/data/NYPD_Complaint_Data_Historic_2019.xlsx
 extracting: /content/data/NYPD_Complaint_Historic_DataDictionary.xlsx
 extracting: /content/data/NYPD_Complaint_Incident_Level_Data_Footnotes.pdf
   creating: /content/data/NYS_Civil_Boundaries.gdb/
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000001.freelist
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000001.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000001.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000001.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000001.TablesByName.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000001tmp.freelist
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000002.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000002.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000003.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000003.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000003.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000004.CatItemsByPhysicalName.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000004.CatItemsByType.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000004.FDO_UUID.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000004.freelist
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000004.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000004.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000004.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000004.horizon
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000004.spx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000005.CatItemTypesByName.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000005.CatItemTypesByParentTypeID.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000005.CatItemTypesByUUID.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000005.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000005.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000005.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000006.CatRelsByDestinationID.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000006.CatRelsByOriginID.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000006.CatRelsByType.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000006.FDO_UUID.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000006.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000006.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000006.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000007.CatRelTypesByBackwardLabel.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000007.CatRelTypesByForwardLabel.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000007.CatRelTypesByName.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000007.CatRelTypesByUUID.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000007.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000007.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a00000007.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c1.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c1.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c1.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c1.spx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c2.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c2.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c2.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c2.spx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c3.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c3.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c3.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c3.spx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c4.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c4.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c4.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c4.spx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c5.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c5.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c5.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c5.spx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c6.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c6.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c6.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c6.spx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c7.gdbindexes
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c7.gdbtable
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c7.gdbtablx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c7.GNIS_ID.atx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/a000000c7.spx
 extracting: /content/data/NYS_Civil_Boundaries.gdb/gdb
 extracting: /content/data/NYS_Civil_Boundaries.gdb/timestamps
   creating: /content/data/ny_data.gdb/
 extracting: /content/data/ny_data.gdb/a00000001.gdbindexes
 extracting: /content/data/ny_data.gdb/a00000001.gdbtable
 extracting: /content/data/ny_data.gdb/a00000001.gdbtablx
 extracting: /content/data/ny_data.gdb/a00000001.TablesByName.atx
 extracting: /content/data/ny_data.gdb/a00000002.gdbtable
 extracting: /content/data/ny_data.gdb/a00000002.gdbtablx
 extracting: /content/data/ny_data.gdb/a00000003.gdbindexes
 extracting: /content/data/ny_data.gdb/a00000003.gdbtable
 extracting: /content/data/ny_data.gdb/a00000003.gdbtablx
 extracting: /content/data/ny_data.gdb/a00000004.CatItemsByPhysicalName.atx
 extracting: /content/data/ny_data.gdb/a00000004.CatItemsByType.atx
 extracting: /content/data/ny_data.gdb/a00000004.FDO_UUID.atx
 extracting: /content/data/ny_data.gdb/a00000004.gdbindexes
 extracting: /content/data/ny_data.gdb/a00000004.gdbtable
 extracting: /content/data/ny_data.gdb/a00000004.gdbtablx
 extracting: /content/data/ny_data.gdb/a00000004.horizon
 extracting: /content/data/ny_data.gdb/a00000004.spx
 extracting: /content/data/ny_data.gdb/a00000005.CatItemTypesByName.atx
 extracting: /content/data/ny_data.gdb/a00000005.CatItemTypesByParentTypeID.atx
 extracting: /content/data/ny_data.gdb/a00000005.CatItemTypesByUUID.atx
 extracting: /content/data/ny_data.gdb/a00000005.gdbindexes
 extracting: /content/data/ny_data.gdb/a00000005.gdbtable
 extracting: /content/data/ny_data.gdb/a00000005.gdbtablx
 extracting: /content/data/ny_data.gdb/a00000006.CatRelsByDestinationID.atx
 extracting: /content/data/ny_data.gdb/a00000006.CatRelsByOriginID.atx
 extracting: /content/data/ny_data.gdb/a00000006.CatRelsByType.atx
 extracting: /content/data/ny_data.gdb/a00000006.FDO_UUID.atx
 extracting: /content/data/ny_data.gdb/a00000006.gdbindexes
 extracting: /content/data/ny_data.gdb/a00000006.gdbtable
 extracting: /content/data/ny_data.gdb/a00000006.gdbtablx
 extracting: /content/data/ny_data.gdb/a00000007.CatRelTypesByBackwardLabel.atx
 extracting: /content/data/ny_data.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
 extracting: /content/data/ny_data.gdb/a00000007.CatRelTypesByForwardLabel.atx
 extracting: /content/data/ny_data.gdb/a00000007.CatRelTypesByName.atx
 extracting: /content/data/ny_data.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
 extracting: /content/data/ny_data.gdb/a00000007.CatRelTypesByUUID.atx
 extracting: /content/data/ny_data.gdb/a00000007.gdbindexes
 extracting: /content/data/ny_data.gdb/a00000007.gdbtable
 extracting: /content/data/ny_data.gdb/a00000007.gdbtablx
 extracting: /content/data/ny_data.gdb/a00000009.gdbindexes
 extracting: /content/data/ny_data.gdb/a00000009.gdbtable
 extracting: /content/data/ny_data.gdb/a00000009.gdbtablx
 extracting: /content/data/ny_data.gdb/a0000000a.gdbindexes
 extracting: /content/data/ny_data.gdb/a0000000a.gdbtable
 extracting: /content/data/ny_data.gdb/a0000000a.gdbtablx
 extracting: /content/data/ny_data.gdb/a0000000a.horizon
 extracting: /content/data/ny_data.gdb/a0000000a.spx
 extracting: /content/data/ny_data.gdb/gdb
 extracting: /content/data/ny_data.gdb/timestamps
 extracting: /content/data/PDCode_PenalLaw.xlsx
 extracting: /content/data/Police Precincts.geojson

# Importing Data

In [ ]:
os.chdir('/content/data')
data = pd.read_csv('NYPD_Complaint_Data_Historic.csv')
data.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (18,20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,724718389,09/04/2014,17:25:00,09/04/2014,17:35:00,81.0,09/04/2014,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,NaN,NaN,40.685041,-73.921777,"(40.685040958, -73.921776995)",PATROL BORO BKLYN NORTH,NaN,25-44,WHITE,F
1,191133903,10/12/2016,07:40:00,10/12/2016,07:45:00,121.0,10/12/2016,109,GRAND LARCENY,417.0,...,U,NaN,40.636991,-74.134093,"(40.63699139, -74.134092508)",PATROL BORO STATEN ISLAND,NaN,45-64,WHITE HISPANIC,F
2,720151206,09/28/2012,13:30:00,09/28/2012,14:00:00,41.0,10/19/2012,109,GRAND LARCENY,413.0,...,M,NaN,40.823876,-73.891863,"(40.823876276, -73.891862968)",PATROL BORO BRONX,NaN,45-64,WHITE HISPANIC,F
3,232242098,03/24/2015,15:45:00,NaN,NaN,46.0,03/24/2015,341,PETIT LARCENY,339.0,...,M,NaN,40.845707,-73.910398,"(40.845707148, -73.910398033)",PATROL BORO BRONX,NaN,<18,WHITE HISPANIC,F
4,708078702,05/20/2017,04:02:00,05/20/2017,04:09:00,109.0,05/20/2017,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,M,NaN,40.763992,-73.828426,"(40.763991557, -73.828425559)",PATROL BORO QUEENS NORTH,NaN,25-44,BLACK,M

In [ ]:
os.chdir('/content/data')
data = pd.read_csv('NYPD_Complaint_Data_Historic.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (18,20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

#Data cleaning

In [ ]:
data.drop(['CMPLNT_NUM','STATION_NAME','TRANSIT_DISTRICT','SUSP_AGE_GROUP','HOUSING_PSA','HADEVELOPT','LOC_OF_OCCUR_DESC','PARKS_NM','CMPLNT_TO_DT','CMPLNT_TO_TM','Lat_Lon','RPT_DT','SUSP_SEX','SUSP_RACE','Y_COORD_CD','X_COORD_CD','JURIS_DESC','LAW_CAT_CD'],axis=1,inplace= True)

In [ ]:
data.shape

(6983207, 17)

In [ ]:
data.dropna(axis=0, how='all',inplace = True)

,index,CMPLNT_FR_DT,CMPLNT_FR_TM,ADDR_PCT_CD,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,BORO_NM,PREM_TYP_DESC,JURISDICTION_CODE,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,0,09/04/2014,17:25:00,81.0,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,BROOKLYN,STREET,0.0,40.685041,-73.921777,PATROL BORO BKLYN NORTH,25-44,WHITE,F
1,1,10/12/2016,07:40:00,121.0,109,GRAND LARCENY,417.0,"LARCENY,GRAND FROM PERSON,PURS",COMPLETED,STATEN ISLAND,STREET,0.0,40.636991,-74.134093,PATROL BORO STATEN ISLAND,45-64,WHITE HISPANIC,F
2,2,09/28/2012,13:30:00,41.0,109,GRAND LARCENY,413.0,"LARCENY,GRAND BY FALSE PROMISE",COMPLETED,BRONX,STREET,0.0,40.823876,-73.891863,PATROL BORO BRONX,45-64,WHITE HISPANIC,F
3,3,03/24/2015,15:45:00,46.0,341,PETIT LARCENY,339.0,"LARCENY,PETIT FROM OPEN AREAS,",COMPLETED,BRONX,STREET,0.0,40.845707,-73.910398,PATROL BORO BRONX,<18,WHITE HISPANIC,F
4,4,05/20/2017,04:02:00,109.0,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,QUEENS,STREET,0.0,40.763992,-73.828426,PATROL BORO QUEENS NORTH,25-44,BLACK,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6983202,6983202,09/12/2014,17:50:00,28.0,341,PETIT LARCENY,333.0,"LARCENY,PETIT FROM STORE-SHOPL",COMPLETED,MANHATTAN,COMMERCIAL BUILDING,0.0,40.808374,-73.946886,PATROL BORO MAN NORTH,NaN,UNKNOWN,D
6983203,6983203,12/20/2012,13:30:00,70.0,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,BROOKLYN,STREET,0.0,40.648648,-73.967731,PATROL BORO BKLYN SOUTH,25-44,BLACK,F
6983204,6983204,04/04/2013,13:00:00,90.0,341,PETIT LARCENY,321.0,"LARCENY,PETIT FROM AUTO",COMPLETED,BROOKLYN,STREET,0.0,40.716045,-73.964163,PATROL BORO BKLYN NORTH,45-64,WHITE,M
6983205,6983205,09/09/2015,13:00:00,13.0,360,NaN,649.0,FALSE REPORT UNCLASSIFIED,COMPLETED,MANHATTAN,TRANSIT - NYC SUBWAY,1.0,40.735211,-73.991691,PATROL BORO MAN SOUTH,NaN,UNKNOWN,E
6983206,6983206,08/19/2012,01:00:00,73.0,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,BROOKLYN,RESIDENCE - PUBLIC HOUSING,2.0,40.667573,-73.907296,PATROL BORO BKLYN NORTH,25-44,BLACK,F

In [ ]:
for i in data.columns:
  print(i,data[i].isnull().sum())

CMPLNT_FR_DT 655
CMPLNT_FR_TM 48
ADDR_PCT_CD 0
KY_CD 0
OFNS_DESC 18825
PD_CD 0
PD_DESC 5865
CRM_ATPT_CPTD_CD 7
BORO_NM 10894
PREM_TYP_DESC 39732
JURISDICTION_CODE 0
Latitude 0
Longitude 0
PATROL_BORO 6322
VIC_AGE_GROUP 1638444
VIC_RACE 308
VIC_SEX 307

In [ ]:
data.shape

(6983207, 17)

In [ ]:
data.dropna(axis=0,how='any',inplace=True)

In [ ]:
data.shape

(5307103, 17)

In [ ]:
for i in data.columns:
  print(i,data[i].isnull().sum())

CMPLNT_FR_DT 0
CMPLNT_FR_TM 0
ADDR_PCT_CD 0
KY_CD 0
OFNS_DESC 0
PD_CD 0
PD_DESC 0
CRM_ATPT_CPTD_CD 0
BORO_NM 0
PREM_TYP_DESC 0
JURISDICTION_CODE 0
Latitude 0
Longitude 0
PATROL_BORO 0
VIC_AGE_GROUP 0
VIC_RACE 0
VIC_SEX 0

In [ ]:
data.shape[0]

5307103

In [ ]:
from collections import Counter
nbr_classes = Counter(data.OFNS_DESC)
for i,j in nbr_classes.items():
  print(i,':',j)

ASSAULT 3 & RELATED OFFENSES : 699049
GRAND LARCENY : 530753
PETIT LARCENY : 839678
HARRASSMENT 2 : 838928
SEX CRIMES : 79829
DANGEROUS WEAPONS : 45440
BURGLARY : 180611
CRIMINAL MISCHIEF & RELATED OF : 516953
INTOXICATED & IMPAIRED DRIVING : 25636
OFF. AGNST PUB ORD SENSBLTY & : 344296
FELONY ASSAULT : 243491
MISCELLANEOUS PENAL LAW : 128420
OFFENSES AGAINST PUBLIC ADMINI : 78347
VEHICLE AND TRAFFIC LAWS : 65746
CRIMINAL TRESPASS : 26345
GRAND LARCENY OF MOTOR VEHICLE : 111294
DANGEROUS DRUGS : 81101
OTHER OFFENSES RELATED TO THEF : 10967
THEFT-FRAUD : 68528
ROBBERY : 229718
UNAUTHORIZED USE OF A VEHICLE : 15362
FRAUDS : 30274
RAPE : 20438
OFFENSES INVOLVING FRAUD : 5441
POSSESSION OF STOLEN PROPERTY : 15738
OFFENSES AGAINST THE PERSON : 10582
ADMINISTRATIVE CODE : 12437
KIDNAPPING & RELATED OFFENSES : 2639
FORGERY : 27802
NYS LAWS-UNCLASSIFIED FELONY : 3234
THEFT OF SERVICES : 1851
ARSON : 4935
ALCOHOLIC BEVERAGE CONTROL LAW : 479
PROSTITUTION & RELATED OFFENSES : 468
GAMBLING : 1028
OTHER STATE LAWS (NON PENAL LA : 1295
OFFENSES RELATED TO CHILDREN : 530
PETIT LARCENY OF MOTOR VEHICLE : 1042
JOSTLING : 317
FRAUDULENT ACCOSTING : 2181
AGRICULTURE & MRKTS LAW-UNCLASSIFIED : 586
BURGLAR'S TOOLS : 1570
LOITERING : 5
CHILD ABANDONMENT/NON SUPPORT : 348
ENDAN WELFARE INCOMP : 242
DISORDERLY CONDUCT : 265
HOMICIDE-NEGLIGENT-VEHICLE : 85
NYS LAWS-UNCLASSIFIED VIOLATION : 53
HOMICIDE-NEGLIGENT,UNCLASSIFIE : 149
OFFENSES AGAINST PUBLIC SAFETY : 230
OTHER STATE LAWS : 76
LOITERING/GAMBLING (CARDS, DIC : 46
KIDNAPPING : 46
UNLAWFUL POSS. WEAP. ON SCHOOL : 12
ESCAPE 3 : 48
DISRUPTION OF A RELIGIOUS SERV : 24
OTHER STATE LAWS (NON PENAL LAW) : 7
ANTICIPATORY OFFENSES : 41
NEW YORK CITY HEALTH CODE : 16
INTOXICATED/IMPAIRED DRIVING : 15
UNDER THE INFLUENCE OF DRUGS : 2
FORTUNE TELLING : 3
LOITERING FOR DRUG PURPOSES : 2
ADMINISTRATIVE CODES : 3
ABORTION : 7
OFFENSES AGAINST MARRIAGE UNCL : 4
OTHER TRAFFIC INFRACTION : 2
KIDNAPPING AND RELATED OFFENSES : 3
FELONY SEX CRIMES : 10

In [ ]:
data.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,ADDR_PCT_CD,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,BORO_NM,PREM_TYP_DESC,JURISDICTION_CODE,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,09/04/2014,17:25:00,81.0,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,BROOKLYN,STREET,0.0,40.685041,-73.921777,PATROL BORO BKLYN NORTH,25-44,WHITE,F
1,10/12/2016,07:40:00,121.0,109,GRAND LARCENY,417.0,"LARCENY,GRAND FROM PERSON,PURS",COMPLETED,STATEN ISLAND,STREET,0.0,40.636991,-74.134093,PATROL BORO STATEN ISLAND,45-64,WHITE HISPANIC,F
2,09/28/2012,13:30:00,41.0,109,GRAND LARCENY,413.0,"LARCENY,GRAND BY FALSE PROMISE",COMPLETED,BRONX,STREET,0.0,40.823876,-73.891863,PATROL BORO BRONX,45-64,WHITE HISPANIC,F
3,03/24/2015,15:45:00,46.0,341,PETIT LARCENY,339.0,"LARCENY,PETIT FROM OPEN AREAS,",COMPLETED,BRONX,STREET,0.0,40.845707,-73.910398,PATROL BORO BRONX,<18,WHITE HISPANIC,F
4,05/20/2017,04:02:00,109.0,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,QUEENS,STREET,0.0,40.763992,-73.828426,PATROL BORO QUEENS NORTH,25-44,BLACK,M

In [ ]:
data["date"] = data[["CMPLNT_FR_DT","CMPLNT_FR_TM"]].agg('-'.join, axis=1)

In [ ]:
for i in data.columns:
  print(i,data[i].isnull().sum())

CMPLNT_FR_DT 0
CMPLNT_FR_TM 0
ADDR_PCT_CD 0
KY_CD 0
OFNS_DESC 0
PD_CD 0
PD_DESC 0
CRM_ATPT_CPTD_CD 0
BORO_NM 0
PREM_TYP_DESC 0
JURISDICTION_CODE 0
Latitude 0
Longitude 0
PATROL_BORO 0
VIC_AGE_GROUP 0
VIC_RACE 0
VIC_SEX 0
date 0

In [ ]:
data.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,ADDR_PCT_CD,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,BORO_NM,PREM_TYP_DESC,JURISDICTION_CODE,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,date
0,09/04/2014,17:25:00,81.0,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,BROOKLYN,STREET,0.0,40.685041,-73.921777,PATROL BORO BKLYN NORTH,25-44,WHITE,F,09/04/2014-17:25:00
1,10/12/2016,07:40:00,121.0,109,GRAND LARCENY,417.0,"LARCENY,GRAND FROM PERSON,PURS",COMPLETED,STATEN ISLAND,STREET,0.0,40.636991,-74.134093,PATROL BORO STATEN ISLAND,45-64,WHITE HISPANIC,F,10/12/2016-07:40:00
2,09/28/2012,13:30:00,41.0,109,GRAND LARCENY,413.0,"LARCENY,GRAND BY FALSE PROMISE",COMPLETED,BRONX,STREET,0.0,40.823876,-73.891863,PATROL BORO BRONX,45-64,WHITE HISPANIC,F,09/28/2012-13:30:00
3,03/24/2015,15:45:00,46.0,341,PETIT LARCENY,339.0,"LARCENY,PETIT FROM OPEN AREAS,",COMPLETED,BRONX,STREET,0.0,40.845707,-73.910398,PATROL BORO BRONX,<18,WHITE HISPANIC,F,03/24/2015-15:45:00
4,05/20/2017,04:02:00,109.0,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,QUEENS,STREET,0.0,40.763992,-73.828426,PATROL BORO QUEENS NORTH,25-44,BLACK,M,05/20/2017-04:02:00

In [ ]:
data = data.astype({"date": str}, errors='raise')

In [ ]:
from datetime import datetime
Timestamp = np.zeros((data.shape[0],1))
Date = np.array(data["date"])
for i in range (data.shape[0]):
  Timestamp[i,] = datetime.strptime(Date[i,],"%m/%d/%Y-%H:%M:%S").timestamp() 
print(Timestamp[10:20,])

[[1.49032290e+09]
 [1.13607366e+09]
 [1.41765300e+09]
 [1.39309572e+09]
 [1.49657040e+09]
 [1.47493980e+09]
 [1.36116360e+09]
 [1.39934880e+09]
 [1.45010340e+09]
 [1.40800860e+09]]

In [ ]:
for i in data.columns:
  print(i,data[i].isnull().sum())

CMPLNT_FR_DT 0
CMPLNT_FR_TM 0
ADDR_PCT_CD 0
KY_CD 0
OFNS_DESC 0
PD_CD 0
PD_DESC 0
CRM_ATPT_CPTD_CD 0
BORO_NM 0
PREM_TYP_DESC 0
JURISDICTION_CODE 0
Latitude 0
Longitude 0
PATROL_BORO 0
VIC_AGE_GROUP 0
VIC_RACE 0
VIC_SEX 0
date 0

In [ ]:
data['DateTime']= pd.DataFrame(Timestamp)
data.dropna(axis=0,how='any',inplace=True)

In [ ]:
for i in data.columns:
  print(i,data[i].isnull().sum())

CMPLNT_FR_DT 0
CMPLNT_FR_TM 0
ADDR_PCT_CD 0
KY_CD 0
OFNS_DESC 0
PD_CD 0
PD_DESC 0
CRM_ATPT_CPTD_CD 0
BORO_NM 0
PREM_TYP_DESC 0
JURISDICTION_CODE 0
Latitude 0
Longitude 0
PATROL_BORO 0
VIC_AGE_GROUP 0
VIC_RACE 0
VIC_SEX 0
date 0
DateTime 0

In [ ]:
data.drop(['KY_CD'],axis=1,inplace= True)
data.drop(["CMPLNT_FR_DT","CMPLNT_FR_TM"],axis=1,inplace=True)
data.drop(['date'],axis=1,inplace=True)

In [ ]:
data.head()

,ADDR_PCT_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,BORO_NM,PREM_TYP_DESC,JURISDICTION_CODE,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,DateTime
0,81.0,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,BROOKLYN,STREET,0.0,40.685041,-73.921777,PATROL BORO BKLYN NORTH,25-44,WHITE,F,1.409852e+09
1,121.0,GRAND LARCENY,417.0,"LARCENY,GRAND FROM PERSON,PURS",COMPLETED,STATEN ISLAND,STREET,0.0,40.636991,-74.134093,PATROL BORO STATEN ISLAND,45-64,WHITE HISPANIC,F,1.476258e+09
2,41.0,GRAND LARCENY,413.0,"LARCENY,GRAND BY FALSE PROMISE",COMPLETED,BRONX,STREET,0.0,40.823876,-73.891863,PATROL BORO BRONX,45-64,WHITE HISPANIC,F,1.348839e+09
3,46.0,PETIT LARCENY,339.0,"LARCENY,PETIT FROM OPEN AREAS,",COMPLETED,BRONX,STREET,0.0,40.845707,-73.910398,PATROL BORO BRONX,<18,WHITE HISPANIC,F,1.427212e+09
4,109.0,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,QUEENS,STREET,0.0,40.763992,-73.828426,PATROL BORO QUEENS NORTH,25-44,BLACK,M,1.495253e+09

In [ ]:
OFNS_DESC = Counter(data['OFNS_DESC'])
crimes = {}
crimes_dict = {}
not_consid=[]
for i,j in OFNS_DESC.items():
  crimes[i]=j
for i in crimes.keys():
  if crimes[i] >= 40000:
    crimes_dict[i] = crimes[i]
  else:
    not_consid.append(i)
print(' We will work with {} classes'.format(len(crimes_dict.keys())))

 We will work with 16 classes

In [ ]:
# crimes_dataset = data[data['OFNS_DESC'] in list(crimes_dict.keys())] df_row = pd.concat([df1, df2])
dataset = pd.DataFrame()
for crime in (crimes_dict.keys()):
  dataset = pd.concat([data[data['OFNS_DESC']==crime],dataset],axis=0)

In [ ]:
from collections import Counter
nbr_classe = Counter(dataset['OFNS_DESC'])
for i,j in nbr_classe.items():
  print(i,':',j)
print('------------------------------------------')
print('We have now {} classes'.format(len(nbr_classe.keys())))

ROBBERY : 175381
THEFT-FRAUD : 52330
DANGEROUS DRUGS : 52521
GRAND LARCENY OF MOTOR VEHICLE : 88977
VEHICLE AND TRAFFIC LAWS : 48590
OFFENSES AGAINST PUBLIC ADMINI : 56764
MISCELLANEOUS PENAL LAW : 93327
FELONY ASSAULT : 179288
OFF. AGNST PUB ORD SENSBLTY & : 267406
CRIMINAL MISCHIEF & RELATED OF : 393413
BURGLARY : 137453
SEX CRIMES : 60991
HARRASSMENT 2 : 634459
PETIT LARCENY : 628907
GRAND LARCENY : 395512
ASSAULT 3 & RELATED OFFENSES : 523493
------------------------------------------
We have now 16 classes

In [ ]:
dataset.shape

(3788812, 15)

In [ ]:
dataset.to_csv("Crime_type_detection_filtred_n.csv")

# Data Encoding

In [ ]:
df = pd.read_csv("/content/data/Crime_type_detection_filtred_n.csv")

In [ ]:
df.head()

,ADDR_PCT_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,BORO_NM,PREM_TYP_DESC,JURISDICTION_CODE,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,DateTime
94,47.0,ROBBERY,380.0,"ROBBERY,CAR JACKING",COMPLETED,BRONX,STREET,0.0,40.887644,-73.852103,PATROL BORO BRONX,25-44,WHITE HISPANIC,M,1.488785e+09
101,115.0,ROBBERY,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",COMPLETED,QUEENS,STREET,0.0,40.753515,-73.856826,PATROL BORO QUEENS NORTH,25-44,BLACK HISPANIC,M,1.468686e+09
207,67.0,ROBBERY,382.0,"ROBBERY,NECKCHAIN/JEWELRY",ATTEMPTED,BROOKLYN,STREET,0.0,40.652327,-73.927517,PATROL BORO BKLYN SOUTH,25-44,BLACK,F,1.484759e+09
234,106.0,ROBBERY,389.0,"ROBBERY,DWELLING",COMPLETED,QUEENS,RESIDENCE-HOUSE,0.0,40.682983,-73.832434,PATROL BORO QUEENS SOUTH,25-44,ASIAN / PACIFIC ISLANDER,M,1.285949e+09
270,6.0,ROBBERY,396.0,"ROBBERY,BEGIN AS SHOPLIFTING",COMPLETED,MANHATTAN,CHAIN STORE,0.0,40.735036,-73.991237,PATROL BORO MAN SOUTH,UNKNOWN,BLACK,D,1.373026e+09

In [ ]:
df['VIC_AGE_GROUP'].nunique()

185

In [ ]:
age_dict = Counter(df['VIC_AGE_GROUP'])
c=6;
age=[]
for i,j in age_dict.items():
  print(i,':',j)
  c-=1
  if c==0:
    break
  age.append(i)

25-44 : 1668075
UNKNOWN : 326310
18-24 : 522937
45-64 : 855729
<18 : 242790
65+ : 172585

In [ ]:
df

,ADDR_PCT_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,BORO_NM,PREM_TYP_DESC,JURISDICTION_CODE,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,DateTime
94,47.0,ROBBERY,380.0,"ROBBERY,CAR JACKING",COMPLETED,BRONX,STREET,0.0,40.887644,-73.852103,PATROL BORO BRONX,25-44,WHITE HISPANIC,M,1.488785e+09
101,115.0,ROBBERY,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",COMPLETED,QUEENS,STREET,0.0,40.753515,-73.856826,PATROL BORO QUEENS NORTH,25-44,BLACK HISPANIC,M,1.468686e+09
207,67.0,ROBBERY,382.0,"ROBBERY,NECKCHAIN/JEWELRY",ATTEMPTED,BROOKLYN,STREET,0.0,40.652327,-73.927517,PATROL BORO BKLYN SOUTH,25-44,BLACK,F,1.484759e+09
234,106.0,ROBBERY,389.0,"ROBBERY,DWELLING",COMPLETED,QUEENS,RESIDENCE-HOUSE,0.0,40.682983,-73.832434,PATROL BORO QUEENS SOUTH,25-44,ASIAN / PACIFIC ISLANDER,M,1.285949e+09
270,6.0,ROBBERY,396.0,"ROBBERY,BEGIN AS SHOPLIFTING",COMPLETED,MANHATTAN,CHAIN STORE,0.0,40.735036,-73.991237,PATROL BORO MAN SOUTH,UNKNOWN,BLACK,D,1.373026e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5307061,113.0,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,QUEENS,RESIDENCE-HOUSE,0.0,40.697436,-73.768277,PATROL BORO QUEENS SOUTH,45-64,BLACK,M,1.400413e+09
5307065,90.0,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,BROOKLYN,RESIDENCE - PUBLIC HOUSING,0.0,40.709610,-73.941475,PATROL BORO BKLYN NORTH,18-24,WHITE HISPANIC,F,1.473210e+09
5307068,71.0,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,BROOKLYN,STREET,0.0,40.661821,-73.946700,PATROL BORO BKLYN SOUTH,25-44,BLACK,M,1.337263e+09
5307096,122.0,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,STATEN ISLAND,STREET,0.0,40.564261,-74.142127,PATROL BORO STATEN ISLAND,45-64,WHITE,M,1.449274e+09
5307098,106.0,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,QUEENS,RESIDENCE-HOUSE,0.0,40.683122,-73.837529,PATROL BORO QUEENS SOUTH,45-64,WHITE,M,1.393792e+09

In [ ]:
race_dict = Counter(df['VIC_RACE'])
for i,j in race_dict.items():
  print(i,':',j)

WHITE HISPANIC : 804496
BLACK HISPANIC : 166375
BLACK : 1189674
ASIAN / PACIFIC ISLANDER : 277688
AMERICAN INDIAN/ALASKAN NATIVE : 22943
WHITE : 867884
UNKNOWN : 459723
OTHER : 29

In [ ]:
dataframe_f = pd.DataFrame()
for AGE in age:
  dataframe_f = pd.concat([df[df['VIC_AGE_GROUP']==AGE],dataframe_f],axis=0)

In [ ]:
dataframe_f.head()

,ADDR_PCT_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,BORO_NM,PREM_TYP_DESC,JURISDICTION_CODE,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,DateTime
342,105.0,ROBBERY,386.0,"ROBBERY,PERSONAL ELECTRONIC DEVICE",ATTEMPTED,QUEENS,STREET,0.0,40.696382,-73.745237,PATROL BORO QUEENS SOUTH,<18,BLACK,M,1.328314e+09
754,52.0,ROBBERY,366.0,"ROBBERY,BICYCLE",COMPLETED,BRONX,STREET,0.0,40.864694,-73.899577,PATROL BORO BRONX,<18,BLACK HISPANIC,M,1.378489e+09
933,90.0,ROBBERY,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",COMPLETED,BROOKLYN,STREET,0.0,40.711611,-73.940499,PATROL BORO BKLYN NORTH,<18,WHITE HISPANIC,M,1.403354e+09
968,71.0,ROBBERY,386.0,"ROBBERY,PERSONAL ELECTRONIC DEVICE",COMPLETED,BROOKLYN,PARK/PLAYGROUND,0.0,40.661679,-73.937264,PATROL BORO BKLYN SOUTH,<18,BLACK,M,1.446920e+09
997,28.0,ROBBERY,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",COMPLETED,MANHATTAN,STREET,0.0,40.810476,-73.951880,PATROL BORO MAN NORTH,<18,WHITE HISPANIC,F,1.478003e+09

In [ ]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.5.1.post0-py2.py3-none-any.whl (72 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.4/72.4 KB 4.1 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.5.1.post0

In [ ]:
dataframe_f["PD_CD"].nunique()

264

In [ ]:
import category_encoders as cat_en
binary_encoder = cat_en.BinaryEncoder()
dataframe_f_bin= binary_encoder.fit_transform(dataframe_f[["PATROL_BORO","PREM_TYP_DESC","BORO_NM","VIC_AGE_GROUP","VIC_SEX","VIC_RACE"]])
# "PD_DESC""CRM_ATPT_CPTD_CD","PREM_TYP_DESC",

In [ ]:
dataframe_f.head()

,ADDR_PCT_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,BORO_NM,PREM_TYP_DESC,JURISDICTION_CODE,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,DateTime
342,105.0,ROBBERY,386.0,"ROBBERY,PERSONAL ELECTRONIC DEVICE",ATTEMPTED,QUEENS,STREET,0.0,40.696382,-73.745237,PATROL BORO QUEENS SOUTH,<18,BLACK,M,1.328314e+09
754,52.0,ROBBERY,366.0,"ROBBERY,BICYCLE",COMPLETED,BRONX,STREET,0.0,40.864694,-73.899577,PATROL BORO BRONX,<18,BLACK HISPANIC,M,1.378489e+09
933,90.0,ROBBERY,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",COMPLETED,BROOKLYN,STREET,0.0,40.711611,-73.940499,PATROL BORO BKLYN NORTH,<18,WHITE HISPANIC,M,1.403354e+09
968,71.0,ROBBERY,386.0,"ROBBERY,PERSONAL ELECTRONIC DEVICE",COMPLETED,BROOKLYN,PARK/PLAYGROUND,0.0,40.661679,-73.937264,PATROL BORO BKLYN SOUTH,<18,BLACK,M,1.446920e+09
997,28.0,ROBBERY,397.0,"ROBBERY,OPEN AREA UNCLASSIFIED",COMPLETED,MANHATTAN,STREET,0.0,40.810476,-73.951880,PATROL BORO MAN NORTH,<18,WHITE HISPANIC,F,1.478003e+09

In [ ]:
dataframe_f.drop(["CRM_ATPT_CPTD_CD","JURISDICTION_CODE","PD_DESC","PD_CD"],axis=1,inplace=True)

In [ ]:
dataframe_f_copy = dataframe_f

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder() 
dataframe_f["Target"] = labelencoder.fit_transform(dataframe_f["OFNS_DESC"])

In [ ]:
dataframe_f.head()

,ADDR_PCT_CD,OFNS_DESC,BORO_NM,PREM_TYP_DESC,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,DateTime,Target
342,105.0,ROBBERY,QUEENS,STREET,40.696382,-73.745237,PATROL BORO QUEENS SOUTH,<18,BLACK,M,1.328314e+09,12
754,52.0,ROBBERY,BRONX,STREET,40.864694,-73.899577,PATROL BORO BRONX,<18,BLACK HISPANIC,M,1.378489e+09,12
933,90.0,ROBBERY,BROOKLYN,STREET,40.711611,-73.940499,PATROL BORO BKLYN NORTH,<18,WHITE HISPANIC,M,1.403354e+09,12
968,71.0,ROBBERY,BROOKLYN,PARK/PLAYGROUND,40.661679,-73.937264,PATROL BORO BKLYN SOUTH,<18,BLACK,M,1.446920e+09,12
997,28.0,ROBBERY,MANHATTAN,STREET,40.810476,-73.951880,PATROL BORO MAN NORTH,<18,WHITE HISPANIC,F,1.478003e+09,12

In [ ]:
Target_df=dataframe_f[['Target','OFNS_DESC']]
Target_dict={}
for i in Target_df['OFNS_DESC'].unique():
  c = Target_df[Target_df['OFNS_DESC']==i]
  print(c)
  Target_dict[i]=c['Target'].iloc[0]
  continue

         Target OFNS_DESC
342          12   ROBBERY
754          12   ROBBERY
933          12   ROBBERY
968          12   ROBBERY
997          12   ROBBERY
...         ...       ...
5306861      12   ROBBERY
5306895      12   ROBBERY
5306987      12   ROBBERY
5307001      12   ROBBERY
5307002      12   ROBBERY

[170130 rows x 2 columns]
         Target    OFNS_DESC
1298         14  THEFT-FRAUD
18073        14  THEFT-FRAUD
23614        14  THEFT-FRAUD
44839        14  THEFT-FRAUD
49266        14  THEFT-FRAUD
...         ...          ...
5306513      14  THEFT-FRAUD
5306553      14  THEFT-FRAUD
5306719      14  THEFT-FRAUD
5307010      14  THEFT-FRAUD
5307101      14  THEFT-FRAUD

[46809 rows x 2 columns]
         Target        OFNS_DESC
41552         3  DANGEROUS DRUGS
134998        3  DANGEROUS DRUGS
243951        3  DANGEROUS DRUGS
379949        3  DANGEROUS DRUGS
393795        3  DANGEROUS DRUGS
...         ...              ...
5290509       3  DANGEROUS DRUGS
5293153       3  DANGEROUS DRUGS
5305415       3  DANGEROUS DRUGS
5306678       3  DANGEROUS DRUGS
5307062       3  DANGEROUS DRUGS

[52450 rows x 2 columns]
         Target                       OFNS_DESC
176784        6  GRAND LARCENY OF MOTOR VEHICLE
259454        6  GRAND LARCENY OF MOTOR VEHICLE
611088        6  GRAND LARCENY OF MOTOR VEHICLE
747048        6  GRAND LARCENY OF MOTOR VEHICLE
790238        6  GRAND LARCENY OF MOTOR VEHICLE
...         ...                             ...
5306486       6  GRAND LARCENY OF MOTOR VEHICLE
5306712       6  GRAND LARCENY OF MOTOR VEHICLE
5306722       6  GRAND LARCENY OF MOTOR VEHICLE
5306825       6  GRAND LARCENY OF MOTOR VEHICLE
5306884       6  GRAND LARCENY OF MOTOR VEHICLE

[83240 rows x 2 columns]
         Target                 OFNS_DESC
872          15  VEHICLE AND TRAFFIC LAWS
1110         15  VEHICLE AND TRAFFIC LAWS
1562         15  VEHICLE AND TRAFFIC LAWS
2327         15  VEHICLE AND TRAFFIC LAWS
3148         15  VEHICLE AND TRAFFIC LAWS
...         ...                       ...
5304845      15  VEHICLE AND TRAFFIC LAWS
5305477      15  VEHICLE AND TRAFFIC LAWS
5305552      15  VEHICLE AND TRAFFIC LAWS
5305980      15  VEHICLE AND TRAFFIC LAWS
5306212      15  VEHICLE AND TRAFFIC LAWS

[45920 rows x 2 columns]
         Target                       OFNS_DESC
963          10  OFFENSES AGAINST PUBLIC ADMINI
5945         10  OFFENSES AGAINST PUBLIC ADMINI
11291        10  OFFENSES AGAINST PUBLIC ADMINI
14490        10  OFFENSES AGAINST PUBLIC ADMINI
15757        10  OFFENSES AGAINST PUBLIC ADMINI
...         ...                             ...
5306703      10  OFFENSES AGAINST PUBLIC ADMINI
5306763      10  OFFENSES AGAINST PUBLIC ADMINI
5306841      10  OFFENSES AGAINST PUBLIC ADMINI
5306863      10  OFFENSES AGAINST PUBLIC ADMINI
5307026      10  OFFENSES AGAINST PUBLIC ADMINI

[55033 rows x 2 columns]
         Target                OFNS_DESC
1326          8  MISCELLANEOUS PENAL LAW
2773          8  MISCELLANEOUS PENAL LAW
5582          8  MISCELLANEOUS PENAL LAW
5699          8  MISCELLANEOUS PENAL LAW
5962          8  MISCELLANEOUS PENAL LAW
...         ...                      ...
5306819       8  MISCELLANEOUS PENAL LAW
5306832       8  MISCELLANEOUS PENAL LAW
5306847       8  MISCELLANEOUS PENAL LAW
5307033       8  MISCELLANEOUS PENAL LAW
5307038       8  MISCELLANEOUS PENAL LAW

[89445 rows x 2 columns]
         Target       OFNS_DESC
728           4  FELONY ASSAULT
966           4  FELONY ASSAULT
1010          4  FELONY ASSAULT
1390          4  FELONY ASSAULT
1690          4  FELONY ASSAULT
...         ...             ...
5306785       4  FELONY ASSAULT
5306817       4  FELONY ASSAULT
5306869       4  FELONY ASSAULT
5307078       4  FELONY ASSAULT
5307081       4  FELONY ASSAULT

[172234 rows x 2 columns]
         Target                      OFNS_DESC
1565          9  OFF. AGNST PUB ORD SENSBLTY &
2240          9  OFF. AGNST PUB ORD SENSBLTY &
2456          9  OFF. AGNST PUB ORD SENSBLTY &
4201          9  OFF. AGNST PUB ORD SENSBLTY &
4868          9  OFF. AGNST PUB ORD SENSBLTY &
...         ...                            ...
5306805       9  OFF. AGNST PUB ORD SENSBLTY &
5306854       9  OFF. AGNST PUB ORD SENSBLTY &
5306909       9  OFF. AGNST PUB ORD SENSBLTY &
5306921       9  OFF. AGNST PUB ORD SENSBLTY &
5307095       9  OFF. AGNST PUB ORD SENSBLTY &

[259674 rows x 2 columns]
         Target                       OFNS_DESC
1585          2  CRIMINAL MISCHIEF & RELATED OF
8708          2  CRIMINAL MISCHIEF & RELATED OF
12016         2  CRIMINAL MISCHIEF & RELATED OF
19216         2  CRIMINAL MISCHIEF & RELATED OF
31856         2  CRIMINAL MISCHIEF & RELATED OF
...         ...                             ...
5306820       2  CRIMINAL MISCHIEF & RELATED OF
5306828       2  CRIMINAL MISCHIEF & RELATED OF
5306874       2  CRIMINAL MISCHIEF & RELATED OF
5306932       2  CRIMINAL MISCHIEF & RELATED OF
5307059       2  CRIMINAL MISCHIEF & RELATED OF

[368499 rows x 2 columns]
         Target OFNS_DESC
6215          1  BURGLARY
19125         1  BURGLARY
31828         1  BURGLARY
43951         1  BURGLARY
44898         1  BURGLARY
...         ...       ...
5306812       1  BURGLARY
5306889       1  BURGLARY
5306965       1  BURGLARY
5306985       1  BURGLARY
5307102       1  BURGLARY

[128183 rows x 2 columns]
         Target   OFNS_DESC
9            13  SEX CRIMES
14           13  SEX CRIMES
36           13  SEX CRIMES
286          13  SEX CRIMES
313          13  SEX CRIMES
...         ...         ...
5304099      13  SEX CRIMES
5304683      13  SEX CRIMES
5304842      13  SEX CRIMES
5306355      13  SEX CRIMES
5306778      13  SEX CRIMES

[60672 rows x 2 columns]
         Target      OFNS_DESC
64            7  HARRASSMENT 2
76            7  HARRASSMENT 2
80            7  HARRASSMENT 2
191           7  HARRASSMENT 2
217           7  HARRASSMENT 2
...         ...            ...
5306983       7  HARRASSMENT 2
5307011       7  HARRASSMENT 2
5307022       7  HARRASSMENT 2
5307088       7  HARRASSMENT 2
5307100       7  HARRASSMENT 2

[604778 rows x 2 columns]
         Target      OFNS_DESC
3            11  PETIT LARCENY
78           11  PETIT LARCENY
186          11  PETIT LARCENY
517          11  PETIT LARCENY
655          11  PETIT LARCENY
...         ...            ...
5306992      11  PETIT LARCENY
5307036      11  PETIT LARCENY
5307063      11  PETIT LARCENY
5307066      11  PETIT LARCENY
5307067      11  PETIT LARCENY

[598282 rows x 2 columns]
         Target      OFNS_DESC
1967          5  GRAND LARCENY
2804          5  GRAND LARCENY
3052          5  GRAND LARCENY
3065          5  GRAND LARCENY
3574          5  GRAND LARCENY
...         ...            ...
5306975       5  GRAND LARCENY
5306979       5  GRAND LARCENY
5307040       5  GRAND LARCENY
5307083       5  GRAND LARCENY
5307091       5  GRAND LARCENY

[363747 rows x 2 columns]
         Target                     OFNS_DESC
287           0  ASSAULT 3 & RELATED OFFENSES
448           0  ASSAULT 3 & RELATED OFFENSES
596           0  ASSAULT 3 & RELATED OFFENSES
646           0  ASSAULT 3 & RELATED OFFENSES
682           0  ASSAULT 3 & RELATED OFFENSES
...         ...                           ...
5306981       0  ASSAULT 3 & RELATED OFFENSES
5307015       0  ASSAULT 3 & RELATED OFFENSES
5307023       0  ASSAULT 3 & RELATED OFFENSES
5307028       0  ASSAULT 3 & RELATED OFFENSES
5307068       0  ASSAULT 3 & RELATED OFFENSES

[516745 rows x 2 columns]

In [ ]:
for key, value in Target_dict.items():
  print (key,':',value)

ROBBERY : 12
THEFT-FRAUD : 14
DANGEROUS DRUGS : 3
GRAND LARCENY OF MOTOR VEHICLE : 6
VEHICLE AND TRAFFIC LAWS : 15
OFFENSES AGAINST PUBLIC ADMINI : 10
MISCELLANEOUS PENAL LAW : 8
FELONY ASSAULT : 4
OFF. AGNST PUB ORD SENSBLTY & : 9
CRIMINAL MISCHIEF & RELATED OF : 2
BURGLARY : 1
SEX CRIMES : 13
HARRASSMENT 2 : 7
PETIT LARCENY : 11
GRAND LARCENY : 5
ASSAULT 3 & RELATED OFFENSES : 0

In [ ]:
!pip install pickle5

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pickle5
  Downloading pickle5-0.0.11.tar.gz (132 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 132.1/132.1 KB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py) ... done
  Created wheel for pickle5: filename=pickle5-0.0.11-cp38-cp38-linux_x86_64.whl size=236299 sha256=49e15635e3dca0a5fb016b7ec3cfeb6d999983672686c23fa3c4b29255acebd3
  Stored in directory: /root/.cache/pip/wheels/25/d4/61/dbd8edd1a0d656be7b4267c85db3b61951eb60016a0154a122
Successfully built pickle5
Installing collected packages: pickle5
Successfully installed pickle5-0.0.11

In [ ]:
import pickle

In [ ]:
def pickle_dict ( dictionnary : dict , dict_name : str):
  with open('/content/data/pickles/{}.pickle'.format(dict_name), 'wb') as handle:
    pickle.dump(dictionnary, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
pickle_dict(Target_dict,'Target_dict')

In [ ]:
Final_df = pd.concat([dataframe_f_bin,dataframe_f],axis=1)

In [ ]:
Final_df.head()

,PATROL_BORO_0,PATROL_BORO_1,PATROL_BORO_2,PATROL_BORO_3,PREM_TYP_DESC_0,PREM_TYP_DESC_1,PREM_TYP_DESC_2,PREM_TYP_DESC_3,PREM_TYP_DESC_4,PREM_TYP_DESC_5,...,BORO_NM,PREM_TYP_DESC,Latitude,Longitude,PATROL_BORO,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,DateTime,Target
342,0,0,0,1,0,0,0,0,0,0,...,QUEENS,STREET,40.696382,-73.745237,PATROL BORO QUEENS SOUTH,<18,BLACK,M,1.328314e+09,12
754,0,0,1,0,0,0,0,0,0,0,...,BRONX,STREET,40.864694,-73.899577,PATROL BORO BRONX,<18,BLACK HISPANIC,M,1.378489e+09,12
933,0,0,1,1,0,0,0,0,0,0,...,BROOKLYN,STREET,40.711611,-73.940499,PATROL BORO BKLYN NORTH,<18,WHITE HISPANIC,M,1.403354e+09,12
968,0,1,0,0,0,0,0,0,0,1,...,BROOKLYN,PARK/PLAYGROUND,40.661679,-73.937264,PATROL BORO BKLYN SOUTH,<18,BLACK,M,1.446920e+09,12
997,0,1,0,1,0,0,0,0,0,0,...,MANHATTAN,STREET,40.810476,-73.951880,PATROL BORO MAN NORTH,<18,WHITE HISPANIC,F,1.478003e+09,12

In [ ]:
Final_df.drop(['PREM_TYP_DESC'],axis=1,inplace=True)

In [ ]:
Final_df['PATROL_BORO'].unique()

array(['PATROL BORO QUEENS SOUTH', 'PATROL BORO BRONX',
       'PATROL BORO BKLYN NORTH', 'PATROL BORO BKLYN SOUTH',
       'PATROL BORO MAN NORTH', 'PATROL BORO QUEENS NORTH',
       'PATROL BORO STATEN ISLAND', 'PATROL BORO MAN SOUTH'], dtype=object)

In [ ]:
patrol_df=Final_df[['PATROL_BORO_0','PATROL_BORO_1','PATROL_BORO_2','PATROL_BORO_3','PATROL_BORO']]
patrol_dict={}
for i in patrol_df['PATROL_BORO'].unique():
  c = patrol_df[patrol_df['PATROL_BORO']==i]
  patrol_dict[i]=c[['PATROL_BORO_0','PATROL_BORO_1','PATROL_BORO_2','PATROL_BORO_3']].iloc[0]
  continue

In [ ]:
for key,value in patrol_dict.items():
  print(key,':','\n',value)

PATROL BORO QUEENS SOUTH :
 PATROL_BORO_0    0
PATROL_BORO_1    0
PATROL_BORO_2    0
PATROL_BORO_3    1
Name: 342, dtype: int64
PATROL BORO BRONX :
 PATROL_BORO_0    0
PATROL_BORO_1    0
PATROL_BORO_2    1
PATROL_BORO_3    0
Name: 754, dtype: int64
PATROL BORO BKLYN NORTH :
 PATROL_BORO_0    0
PATROL_BORO_1    0
PATROL_BORO_2    1
PATROL_BORO_3    1
Name: 933, dtype: int64
PATROL BORO BKLYN SOUTH :
 PATROL_BORO_0    0
PATROL_BORO_1    1
PATROL_BORO_2    0
PATROL_BORO_3    0
Name: 968, dtype: int64
PATROL BORO MAN NORTH :
 PATROL_BORO_0    0
PATROL_BORO_1    1
PATROL_BORO_2    0
PATROL_BORO_3    1
Name: 997, dtype: int64
PATROL BORO QUEENS NORTH :
 PATROL_BORO_0    0
PATROL_BORO_1    1
PATROL_BORO_2    1
PATROL_BORO_3    0
Name: 1220, dtype: int64
PATROL BORO STATEN ISLAND :
 PATROL_BORO_0    0
PATROL_BORO_1    1
PATROL_BORO_2    1
PATROL_BORO_3    1
Name: 4205, dtype: int64
PATROL BORO MAN SOUTH :
 PATROL_BORO_0    1
PATROL_BORO_1    0
PATROL_BORO_2    0
PATROL_BORO_3    0
Name: 8856, dtype: int64

In [ ]:
dataframe_f['VIC_AGE_GROUP'].unique()

array(['<18', '45-64', '18-24', 'UNKNOWN', '25-44'], dtype=object)

In [ ]:
VIC_AGE_GROUP_df=Final_df[['VIC_AGE_GROUP_0','VIC_AGE_GROUP_1','VIC_AGE_GROUP_2','VIC_AGE_GROUP']]
VIC_AGE_GROUP_dict={}
for i in VIC_AGE_GROUP_df['VIC_AGE_GROUP'].unique():
  c = VIC_AGE_GROUP_df[VIC_AGE_GROUP_df['VIC_AGE_GROUP']==i]
  VIC_AGE_GROUP_dict[i]=c[['VIC_AGE_GROUP_0','VIC_AGE_GROUP_1','VIC_AGE_GROUP_2']].iloc[0]
  continue

In [ ]:
for key,value in VIC_AGE_GROUP_dict.items():
  print(key,':','\n',value)

<18 :
 VIC_AGE_GROUP_0    0
VIC_AGE_GROUP_1    0
VIC_AGE_GROUP_2    1
Name: 342, dtype: int64
45-64 :
 VIC_AGE_GROUP_0    0
VIC_AGE_GROUP_1    1
VIC_AGE_GROUP_2    0
Name: 295, dtype: int64
18-24 :
 VIC_AGE_GROUP_0    0
VIC_AGE_GROUP_1    1
VIC_AGE_GROUP_2    1
Name: 273, dtype: int64
UNKNOWN :
 VIC_AGE_GROUP_0    1
VIC_AGE_GROUP_1    0
VIC_AGE_GROUP_2    0
Name: 270, dtype: int64
25-44 :
 VIC_AGE_GROUP_0    1
VIC_AGE_GROUP_1    0
VIC_AGE_GROUP_2    1
Name: 94, dtype: int64

In [ ]:
VIC_RACE_df=Final_df[['VIC_RACE_0','VIC_RACE_1','VIC_RACE_2','VIC_RACE_3','VIC_RACE']]
VIC_RACE_dict={}
for i in VIC_RACE_df['VIC_RACE'].unique():
  c = VIC_RACE_df[VIC_RACE_df['VIC_RACE']==i]
  VIC_RACE_dict[i]=c[['VIC_RACE_0','VIC_RACE_1','VIC_RACE_2','VIC_RACE_3']].iloc[0]
  continue

In [ ]:
for key,value in VIC_RACE_dict.items():
  print(key,':','\n',value)

BLACK :
 VIC_RACE_0    0
VIC_RACE_1    0
VIC_RACE_2    0
VIC_RACE_3    1
Name: 342, dtype: int64
BLACK HISPANIC :
 VIC_RACE_0    0
VIC_RACE_1    0
VIC_RACE_2    1
VIC_RACE_3    0
Name: 754, dtype: int64
WHITE HISPANIC :
 VIC_RACE_0    0
VIC_RACE_1    0
VIC_RACE_2    1
VIC_RACE_3    1
Name: 933, dtype: int64
WHITE :
 VIC_RACE_0    0
VIC_RACE_1    1
VIC_RACE_2    0
VIC_RACE_3    0
Name: 4205, dtype: int64
ASIAN / PACIFIC ISLANDER :
 VIC_RACE_0    0
VIC_RACE_1    1
VIC_RACE_2    0
VIC_RACE_3    1
Name: 5158, dtype: int64
UNKNOWN :
 VIC_RACE_0    0
VIC_RACE_1    1
VIC_RACE_2    1
VIC_RACE_3    0
Name: 8324, dtype: int64
AMERICAN INDIAN/ALASKAN NATIVE :
 VIC_RACE_0    0
VIC_RACE_1    1
VIC_RACE_2    1
VIC_RACE_3    1
Name: 19978, dtype: int64
OTHER :
 VIC_RACE_0    1
VIC_RACE_1    0
VIC_RACE_2    0
VIC_RACE_3    0
Name: 773544, dtype: int64

In [ ]:
VIC_SEX_df=Final_df[['VIC_SEX_0','VIC_SEX_1','VIC_SEX_2','VIC_SEX']]
VIC_SEX_dict={}
for i in VIC_SEX_df['VIC_SEX'].unique():
  c = VIC_SEX_df[VIC_SEX_df['VIC_SEX']==i]
  VIC_SEX_dict[i]=c[['VIC_SEX_0','VIC_SEX_1','VIC_SEX_2']].iloc[0]
  continue

In [ ]:
for key,value in VIC_SEX_dict.items():
  print(key,':','\n',value)

M :
 VIC_SEX_0    0
VIC_SEX_1    0
VIC_SEX_2    1
Name: 342, dtype: int64
F :
 VIC_SEX_0    0
VIC_SEX_1    1
VIC_SEX_2    0
Name: 997, dtype: int64
D :
 VIC_SEX_0    0
VIC_SEX_1    1
VIC_SEX_2    1
Name: 4599693, dtype: int64
E :
 VIC_SEX_0    1
VIC_SEX_1    0
VIC_SEX_2    0
Name: 713097, dtype: int64

In [ ]:
BORO_NM_df=Final_df[['BORO_NM_0','BORO_NM_1','BORO_NM_2','BORO_NM']]
BORO_NM_dict={}
for i in BORO_NM_df['BORO_NM'].unique():
  c = BORO_NM_df[BORO_NM_df['BORO_NM']==i]
  BORO_NM_dict[i]=c[['BORO_NM_0','BORO_NM_1','BORO_NM_2']].iloc[0]
  continue

In [ ]:
for key,value in BORO_NM_dict.items():
  print(key,':','\n',value)

QUEENS :
 BORO_NM_0    0
BORO_NM_1    0
BORO_NM_2    1
Name: 342, dtype: int64
BRONX :
 BORO_NM_0    0
BORO_NM_1    1
BORO_NM_2    0
Name: 754, dtype: int64
BROOKLYN :
 BORO_NM_0    0
BORO_NM_1    1
BORO_NM_2    1
Name: 933, dtype: int64
MANHATTAN :
 BORO_NM_0    1
BORO_NM_1    0
BORO_NM_2    0
Name: 997, dtype: int64
STATEN ISLAND :
 BORO_NM_0    1
BORO_NM_1    0
BORO_NM_2    1
Name: 4205, dtype: int64

In [ ]:
pickle_dict(BORO_NM_dict,'BORO_NM_dict')
pickle_dict(VIC_SEX_dict,'VIC_SEX_dict')
pickle_dict(VIC_RACE_dict,'VIC_RACE_dict')
pickle_dict(VIC_AGE_GROUP_dict,'VIC_AGE_GROUP_dict')
pickle_dict(patrol_dict,'patrol_dict')

In [ ]:
Final_df.drop(["VIC_AGE_GROUP","VIC_SEX","VIC_RACE","PATROL_BORO","BORO_NM"],axis=1,inplace=True)

In [ ]:
Final_df.head()

,PATROL_BORO_0,PATROL_BORO_1,PATROL_BORO_2,PATROL_BORO_3,PREM_TYP_DESC_0,PREM_TYP_DESC_1,PREM_TYP_DESC_2,PREM_TYP_DESC_3,PREM_TYP_DESC_4,PREM_TYP_DESC_5,...,VIC_RACE_0,VIC_RACE_1,VIC_RACE_2,VIC_RACE_3,ADDR_PCT_CD,OFNS_DESC,Latitude,Longitude,DateTime,Target
342,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,105.0,ROBBERY,40.696382,-73.745237,1.328314e+09,12
754,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,52.0,ROBBERY,40.864694,-73.899577,1.378489e+09,12
933,0,0,1,1,0,0,0,0,0,0,...,0,0,1,1,90.0,ROBBERY,40.711611,-73.940499,1.403354e+09,12
968,0,1,0,0,0,0,0,0,0,1,...,0,0,0,1,71.0,ROBBERY,40.661679,-73.937264,1.446920e+09,12
997,0,1,0,1,0,0,0,0,0,0,...,0,0,1,1,28.0,ROBBERY,40.810476,-73.951880,1.478003e+09,12

In [ ]:
Final_df.to_csv("/content/data/crimes_final.csv")

# Data preprocessing

In [ ]:
dataframe_f = pd.read_csv('/content/data/crimes_final.csv')

In [ ]:
#Shuffle dataframe
dataframe_f = dataframe_f.sample(frac=1).reset_index(drop=True)

In [ ]:
dataframe_f.head()

,Unnamed: 0,PATROL_BORO_0,PATROL_BORO_1,PATROL_BORO_2,PATROL_BORO_3,PREM_TYP_DESC_0,PREM_TYP_DESC_1,PREM_TYP_DESC_2,PREM_TYP_DESC_3,PREM_TYP_DESC_4,...,VIC_RACE_0,VIC_RACE_1,VIC_RACE_2,VIC_RACE_3,ADDR_PCT_CD,OFNS_DESC,Latitude,Longitude,DateTime,Target
0,5058356,0,1,1,0,0,0,0,0,1,...,0,1,1,0,114.0,FELONY ASSAULT,40.751607,-73.939684,1.337845e+09,4
1,2622888,0,1,0,0,0,0,0,0,0,...,0,1,0,0,62.0,GRAND LARCENY,40.607669,-74.014634,1.516417e+09,5
2,2485791,0,0,0,1,0,0,0,0,0,...,0,0,1,1,102.0,ROBBERY,40.688169,-73.848846,1.535893e+09,12
3,4457466,0,0,1,1,0,0,0,0,1,...,0,1,0,0,94.0,OFF. AGNST PUB ORD SENSBLTY &,40.726278,-73.945555,1.503968e+09,9
4,233993,0,0,1,1,0,0,0,0,1,...,0,0,1,1,83.0,ASSAULT 3 & RELATED OFFENSES,40.698390,-73.912168,1.465430e+09,0

In [ ]:
Y_no = dataframe_f.pop('OFNS_DESC')

In [ ]:
Y_no

0                         FELONY ASSAULT
1                          GRAND LARCENY
2                                ROBBERY
3          OFF. AGNST PUB ORD SENSBLTY &
4           ASSAULT 3 & RELATED OFFENSES
                       ...
3615836     ASSAULT 3 & RELATED OFFENSES
3615837                    HARRASSMENT 2
3615838                    PETIT LARCENY
3615839     ASSAULT 3 & RELATED OFFENSES
3615840                    HARRASSMENT 2
Name: OFNS_DESC, Length: 3615841, dtype: object

In [ ]:
dataframe_f.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
dataframe_f.head()

,PATROL_BORO_0,PATROL_BORO_1,PATROL_BORO_2,PATROL_BORO_3,PREM_TYP_DESC_0,PREM_TYP_DESC_1,PREM_TYP_DESC_2,PREM_TYP_DESC_3,PREM_TYP_DESC_4,PREM_TYP_DESC_5,...,VIC_SEX_2,VIC_RACE_0,VIC_RACE_1,VIC_RACE_2,VIC_RACE_3,ADDR_PCT_CD,Latitude,Longitude,DateTime,Target
0,0,1,1,0,0,0,0,0,1,1,...,0,0,1,1,0,114.0,40.751607,-73.939684,1.337845e+09,4
1,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,62.0,40.607669,-74.014634,1.516417e+09,5
2,0,0,0,1,0,0,0,0,0,0,...,1,0,0,1,1,102.0,40.688169,-73.848846,1.535893e+09,12
3,0,0,1,1,0,0,0,0,1,1,...,1,0,1,0,0,94.0,40.726278,-73.945555,1.503968e+09,9
4,0,0,1,1,0,0,0,0,1,1,...,0,0,0,1,1,83.0,40.698390,-73.912168,1.465430e+09,0

In [ ]:
for i in dataframe_f.columns:
  print('for the column : {}, the maximum is :{}, and the minimum is {}.'.format(i,dataframe_f[i].max(),dataframe_f[i].min()))

for the column : PATROL_BORO_0, the maximum is :1, and the minimum is 0.
for the column : PATROL_BORO_1, the maximum is :1, and the minimum is 0.
for the column : PATROL_BORO_2, the maximum is :1, and the minimum is 0.
for the column : PATROL_BORO_3, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_0, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_1, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_2, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_3, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_4, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_5, the maximum is :1, and the minimum is 0.
for the column : PREM_TYP_DESC_6, the maximum is :1, and the minimum is 0.
for the column : BORO_NM_0, the maximum is :1, and the minimum is 0.
for the column : BORO_NM_1, the maximum is :1, and the minimum is 0.
for the column : BORO_NM_2, the maximum is :1, and the minimum is 0.
for the column : VIC_AGE_GROUP_0, the maximum is :1, and the minimum is 0.
for the column : VIC_AGE_GROUP_1, the maximum is :1, and the minimum is 0.
for the column : VIC_AGE_GROUP_2, the maximum is :1, and the minimum is 0.
for the column : VIC_SEX_0, the maximum is :1, and the minimum is 0.
for the column : VIC_SEX_1, the maximum is :1, and the minimum is 0.
for the column : VIC_SEX_2, the maximum is :1, and the minimum is 0.
for the column : VIC_RACE_0, the maximum is :1, and the minimum is 0.
for the column : VIC_RACE_1, the maximum is :1, and the minimum is 0.
for the column : VIC_RACE_2, the maximum is :1, and the minimum is 0.
for the column : VIC_RACE_3, the maximum is :1, and the minimum is 0.
for the column : ADDR_PCT_CD, the maximum is :123.0, and the minimum is -99.0.
for the column : Latitude, the maximum is :59.657273946, and the minimum is 40.494426993.
for the column : Longitude, the maximum is :-73.684788384, and the minimum is -77.056722703.
for the column : DateTime, the maximum is :1577834700.0, and the minimum is -30133064820.0.
for the column : Target, the maximum is :15, and the minimum is 0.

In [ ]:
for i in dataframe_f.columns:
  print(i,':',dataframe_f[i].isnull().sum())

PATROL_BORO_0 : 0
PATROL_BORO_1 : 0
PATROL_BORO_2 : 0
PATROL_BORO_3 : 0
PREM_TYP_DESC_0 : 0
PREM_TYP_DESC_1 : 0
PREM_TYP_DESC_2 : 0
PREM_TYP_DESC_3 : 0
PREM_TYP_DESC_4 : 0
PREM_TYP_DESC_5 : 0
PREM_TYP_DESC_6 : 0
BORO_NM_0 : 0
BORO_NM_1 : 0
BORO_NM_2 : 0
VIC_AGE_GROUP_0 : 0
VIC_AGE_GROUP_1 : 0
VIC_AGE_GROUP_2 : 0
VIC_SEX_0 : 0
VIC_SEX_1 : 0
VIC_SEX_2 : 0
VIC_RACE_0 : 0
VIC_RACE_1 : 0
VIC_RACE_2 : 0
VIC_RACE_3 : 0
ADDR_PCT_CD : 0
Latitude : 0
Longitude : 0
DateTime : 0
Target : 0

In [ ]:
dataframe_f['Latitude']=(dataframe_f['Latitude']-dataframe_f['Latitude'].min())/(dataframe_f['Latitude'].max()-dataframe_f['Latitude'].min())
dataframe_f['Longitude']=(dataframe_f['Longitude']-dataframe_f['Longitude'].min())/(dataframe_f['Longitude'].max()-dataframe_f['Longitude'].min())
dataframe_f['DateTime']=(dataframe_f['DateTime']-dataframe_f['DateTime'].min())/(dataframe_f['DateTime'].max()-dataframe_f['DateTime'].min())
dataframe_f['ADDR_PCT_CD']=(dataframe_f['ADDR_PCT_CD']-dataframe_f['ADDR_PCT_CD'].min())/(dataframe_f['ADDR_PCT_CD'].max()-dataframe_f['ADDR_PCT_CD'].min())

In [ ]:
Final_df = pd.read_csv('/content/data/crimes_final.csv')

In [ ]:
import pickle
dict_min_max = {}
dict_min_max['Latitude'] = [Final_df['Latitude'].min(),Final_df['Latitude'].max()]
dict_min_max['Longitude'] = [Final_df['Longitude'].min(),Final_df['Longitude'].max()]
dict_min_max['DateTime'] = [Final_df['DateTime'].min(),Final_df['DateTime'].max()]
dict_min_max['ADDR_PCT_CD'] = [Final_df['ADDR_PCT_CD'].min(),Final_df['ADDR_PCT_CD'].max()]

import pickle 

def normalize(feature : str , value : float):
  liste = dict_min_max[feature]
  return ((value-liste[0])/(liste[1]-liste[0]))

with open('/content/data/pickles/dict_min_max.pickle', 'wb') as handle:
    pickle.dump(dict_min_max, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
with open('/content/data/pickles/dict_min_max.pickle', 'rb') as handle:
    unserialized_data = pickle.load(handle)

print(dict_min_max == unserialized_data)

True

In [ ]:
for i , j in unserialized_data.items():
  print(i,':',j)

Latitude : [40.494426993, 59.657273946]
Longitude : [-77.056722703, -73.684788384]
DateTime : [-30133064820.0, 1577834700.0]
ADDR_PCT_CD : [-99.0, 123.0]

In [ ]:
dataframe_f.head()

,PATROL_BORO_0,PATROL_BORO_1,PATROL_BORO_2,PATROL_BORO_3,PREM_TYP_DESC_0,PREM_TYP_DESC_1,PREM_TYP_DESC_2,PREM_TYP_DESC_3,PREM_TYP_DESC_4,PREM_TYP_DESC_5,...,VIC_SEX_2,VIC_RACE_0,VIC_RACE_1,VIC_RACE_2,VIC_RACE_3,ADDR_PCT_CD,Latitude,Longitude,DateTime,Target
0,0,1,1,0,0,0,0,0,1,1,...,0,0,1,1,0,0.959459,0.013421,0.924407,0.992432,4
1,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0.725225,0.005909,0.902179,0.998063,5
2,0,0,0,1,0,0,0,0,0,0,...,1,0,0,1,1,0.905405,0.010110,0.951346,0.998677,12
3,0,0,1,1,0,0,0,0,1,1,...,1,0,1,0,0,0.869369,0.012099,0.922666,0.997671,9
4,0,0,1,1,0,0,0,0,1,1,...,0,0,0,1,1,0.819820,0.010644,0.932567,0.996455,0

# RandomForest

In [ ]:
df = dataframe_f

In [ ]:
df = df.sample(frac=1).reset_index(drop=True)

In [ ]:
Y_no.to_csv("/content/data/pre-training_target.csv")
df.to_csv("/content/data/pre-training_feautures.csv")

In [ ]:
Y_df = pd.read_csv('/content/data/pre-training_target.csv')
X_df =pd.read_csv('/content/data/pre-training_feautures.csv')

In [ ]:
Y_df

         Unnamed: 0                      OFNS_DESC
0                 0                 FELONY ASSAULT
1                 1                  GRAND LARCENY
2                 2                        ROBBERY
3                 3  OFF. AGNST PUB ORD SENSBLTY &
4                 4   ASSAULT 3 & RELATED OFFENSES
...             ...                            ...
3615836     3615836   ASSAULT 3 & RELATED OFFENSES
3615837     3615837                  HARRASSMENT 2
3615838     3615838                  PETIT LARCENY
3615839     3615839   ASSAULT 3 & RELATED OFFENSES
3615840     3615840                  HARRASSMENT 2

[3615841 rows x 2 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X_df,Y_df,test_size=0.28,shuffle=True)
Y_train.drop(['Unnamed: 0'],axis=1,inplace=True)
Y_test.drop(['Unnamed: 0'],axis=1,inplace=True)
X_tr = np.array(X_train)
X_te = np.array(X_test)
Y_tr = np.array(Y_train)
Y_te = np.array(Y_test)

In [ ]:
# Import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [ ]:
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=30,n_jobs=-1,verbose=1)

#Train the model using the training sets
clf.fit(X_train,Y_train)
y_pred=clf.predict(X_test)

# Get the accuracy score
acc_rf = accuracy_score(Y_test, y_pred)

# Get classification report
class_report = classification_report(Y_test, y_pred)

# Model Accuracy, how often is the classifier correct?
print("[Random forest algorithm] accuracy_score: {:.3f}.".format(acc_rf))

<ipython-input-6-c39b6416d8ec>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train,Y_train)
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:  5.0min finished
[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  30 out of  30 | elapsed:   16.0s finished

[Random forest algorithm] accuracy_score: 0.989.

In [ ]:
import joblib
def save_model(model, model_name,is_tree=False):
    joblib.dump(model.estimators_[0] if is_tree else model,f'{model_name}.joblib')
    print(f"Model size: {np.round(os.path.getsize(f'{model_name}.joblib') / 1024 / 1024, 2) } MB")

In [ ]:
# save
save_model(clf,"random_forest",True)

Model size: 110.49 MB

# LGBM

In [ ]:
# Import RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
# Import LightGBM Classifier
import lightgbm as lgbm
# Import XGBoost Classifier
from xgboost import XGBClassifier


from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc

In [ ]:
# Define the model hyperparameters
lgbm_params = {
          "boosting_type": "gbdt",
          "learning_rate": 0.1,
          "num_leaves": 20,
          "max_bin": 256,
          "verbosity": 1,
          "drop_rate": 0.1,
          "is_unbalance": False,
          "max_drop": 50,
          "min_child_samples": 20,
          "min_child_weight": 150,
          "min_split_gain": 0,
          "subsample": 0.9}
# Train the model
lbm_clf = lgbm.LGBMClassifier(**lgbm_params)
lbm_clf.fit(X_train,Y_train)
# Evaluate the model
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_pred, Y_test)

# Get classification report
class_report = classification_report(Y_test, y_pred)

print('LightGBM Model accuracy score: {0:0.4f}'.format(accuracy_score(Y_test, y_pred)))

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  30 out of  30 | elapsed:   19.2s finished

LightGBM Model accuracy score: 0.9892

In [ ]:
save_model(lbm_clf, "lightgbm")

Model size: 1.81 MB